<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DartsRatingCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString"
            connectionString="rtGBmI26IotlJ0jrejQLupWbEiwv0J84s1Dm+cKVdZc175f1rhfKtgNFm6XKuuBQI+0Ug8LBh79w1V1vHH1GUz+OAlY7C76yqBZO75WYlqn3g30K0kh/2r7UYmuGKIhB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DartsRatingCalculator.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>rtGBmI26IotlJ0jrejQLupWbEiwv0J84s1Dm+cKVdZc175f1rhfKtgNFm6XKuuBQI+0Ug8LBh79w1V1vHH1GUz+OAlY7C76yqBZO75WYlqn3g30K0kh/2r7UYmuGKIhB</value>
            </setting>
        </DartsRatingCalculator.Properties.Settings>
    </applicationSettings>
</configuration>